In [2]:
import pandas as pd
import numpy as np

In [20]:
#axis = 0 行合併, =1 列合併
ironman1 = pd.Series(['A','B','C'], index=[0,1,2])
ironman2 = pd.Series(['D','E','F'], index=[2,3,4])

pd.concat([ironman1,ironman2], axis=0)
pd.concat([ironman1,ironman2], axis=0, ignore_index=True)

0    A
1    B
2    C
3    D
4    E
5    F
dtype: object

In [16]:
ironman1.append(ironman2)

0    A
1    B
2    C
2    D
3    E
4    F
dtype: object

In [31]:
# concat 使用 join 設定
# join 有兩種模式，分別為 inner, outer
df1 = pd.DataFrame(np.ones((3,4))*0, columns=['a','b','c','d'],index=[1,2,3])
df2 = pd.DataFrame(np.ones((3,4))*0, columns=['b','c','d','e'],index=[2,3,4])

print(df1)
print('------------------------')
print(df2)
print('------------------------')

res = pd.concat([df1,df2], sort=True)  # 這兩行程式是全等的,預設值為outer join
res1 = pd.concat([df1,df2], join='inner', ignore_index=True) # 這兩行程式是全等的

print(res)
print('------------------------')
print(res1)

     a    b    c    d
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0
------------------------
     b    c    d    e
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0
------------------------
     a    b    c    d    e
1  0.0  0.0  0.0  0.0  NaN
2  0.0  0.0  0.0  0.0  NaN
3  0.0  0.0  0.0  0.0  NaN
2  NaN  0.0  0.0  0.0  0.0
3  NaN  0.0  0.0  0.0  0.0
4  NaN  0.0  0.0  0.0  0.0
------------------------
     b    c    d
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  0.0  0.0
4  0.0  0.0  0.0
5  0.0  0.0  0.0

In [5]:
g_num = pd.DataFrame({'player':['彭政閔','林智勝','郭阜林','詹子賢'],
                        'number':[23,32,5,39]})
g_team = pd.DataFrame({'player':['彭政閔','郭阜林','林智勝','詹子賢'],
                        'team':['兄弟象','統一獅','兄弟象','兄弟象']})
g_player = pd.merge(g_num, g_team)

print(g_num)
print('------------------------')
print(g_team)

  player  number
0    彭政閔      23
1    林智勝      32
2    郭阜林       5
3    詹子賢      39
------------------------
  player team
0    彭政閔  兄弟象
1    郭阜林  統一獅
2    林智勝  兄弟象
3    詹子賢  兄弟象

In [4]:
g_player

  player  number team
0    彭政閔      23  兄弟象
1    林智勝      32  兄弟象
2    郭阜林       5  統一獅
3    詹子賢      39  兄弟象

In [16]:
g_team1 = pd.DataFrame({'player':['彭政閔','林智勝','張志豪',"藍寅倫"],
                        'team':['兄弟象','兄弟象','兄弟象','lamigo']})
pd.merge(g_num, g_team1, how="outer")

  player  number    team
0    彭政閔    23.0     兄弟象
1    林智勝    32.0     兄弟象
2    郭阜林     5.0     NaN
3    詹子賢    39.0     NaN
4    張志豪     NaN     兄弟象
5    藍寅倫     NaN  lamigo

In [13]:
g_manger = pd.DataFrame({'team':['兄弟象','統一獅','lamigo','富邦悍將','味全龍'],
                        'manager':['伯　納','劉育辰','洪一中','陳連宏','葉君璋']})
g_mp = pd.merge(g_player, g_manger)

g_manger

     team manager
0     兄弟象     伯　納
1     統一獅     劉育辰
2  lamigo     洪一中
3    富邦悍將     陳連宏
4     味全龍     葉君璋

In [14]:
g_mp

  player  number team manager
0    彭政閔      23  兄弟象     伯　納
1    林智勝      32  兄弟象     伯　納
2    詹子賢      39  兄弟象     伯　納
3    郭阜林       5  統一獅     劉育辰

In [15]:
g_coach = pd.DataFrame({'team':['兄弟象','統一獅','lamigo','富邦悍將'],
                        'coach':['丘昌榮','高政華','吳俊良','林宗男']})
g_all = pd.merge(g_mp, g_coach)
g_all

  player  number team manager coach
0    彭政閔      23  兄弟象     伯　納   丘昌榮
1    林智勝      32  兄弟象     伯　納   丘昌榮
2    詹子賢      39  兄弟象     伯　納   丘昌榮
3    郭阜林       5  統一獅     劉育辰   高政華

In [12]:
#合併欄位名稱不相同
g_num = pd.DataFrame({'player':['彭政閔','林智勝','郭阜林','詹子賢'],
                        'number':[23,32,5,39]})
g_team = pd.DataFrame({'name':['彭政閔','郭阜林','林智勝','詹子賢'],
                        'team':['兄弟象','統一獅','兄弟象','兄弟象']})
pd.merge(g_num, g_team, left_on="player", right_on="name").drop('name',axis=1)

  player  number team
0    彭政閔      23  兄弟象
1    林智勝      32  兄弟象
2    郭阜林       5  統一獅
3    詹子賢      39  兄弟象

In [17]:
#重複列名稱加上後綴
CPBL_num = pd.DataFrame({'player':['彭政閔','林智勝','陳江和','張正偉'],
                        'number':[23,32,31,8]})
CT_num = pd.DataFrame({'player':['彭政閔','林智勝','陳江和','張正偉'],
                        'number':[23,31,8,59]})
pd.merge(CPBL_num, CT_num, on="player", suffixes=["_職棒","_國家隊"])

  player  number_職棒  number_國家隊
0    彭政閔         23          23
1    林智勝         32          31
2    陳江和         31           8
3    張正偉          8          59